body {
    scroll-behavior: smooth;
    padding: 0 10px;
    font-size: 1rem;
    background: #81ced1bb;
    background: url('./assets/clouds.png') 0 0/100% auto repeat;
    font-family: 'Bacasime Antique', serif;
    font-weight: 600;
}

.button {
    padding: 2px 5px;
    font-size: 1.2rem;
}

button:hover {
    box-shadow: rgb(223, 219, 219) 0px 10px 36px 0px, rgba(233, 230, 230, 0.637) 0px 0px 0px 1px;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.grannies-page__title,
.page__title {
    font-size: 1.5rem;
}


.item.hide,
.winners-info.hide {
    display: none;
}

.item.show {
    display: flex;
}

.winners-info.show {
    display: table-row;
}

.prev-btn.disabled,
.next-btn.disabled {
    border-color: rgb(119, 119, 119);
    background: rgb(119, 119, 119);
    color: rgb(255, 255, 255);
    pointer-events: none;
}

.win-message {
    position: absolute;
    top: -100%;
    opacity: 0;
}

.win-message.active {
    opacity: 1;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Grape Nuts', cursive;
    font-size: 2.5rem;
    font-weight: 800;
    color: palevioletred;
    text-shadow: rgb(255, 255, 255) 1px 3px 10px;
}